// Text Effects

@mixin elr-font-awesome($font-size: 80%) {
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: to-rems($font-size);
}

@mixin elr-truncate() {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin elr-font-face($name, $file-path: $name, $weight: 500) {
    @font-face {
        font-family: $name;
        src: url('#{$file-path}.eot'); // IE9 Compat Modes
        src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'), // IE6-IE8
           url('#{$file-path}.woff2') format('woff2'), // Super Modern Browsers
           url('#{$file-path}.woff') format('woff'), // Pretty Modern Browsers
           url('#{$file-path}.ttf')  format('truetype'), // Safari, Android, iOS
           url('#{$file-path}.svg#svgFontName') format('svg'); // Legacy iOS
        font-weight: $weight;
    }
}

@mixin elr-underline($color: $white, $width: 100px, $align: center, $spacing: 30px, $thickness: 1px) {
    &:after {
        content: '';
        width: $width;
        height: $thickness;
        border-bottom: $thickness solid $color;
        display: block;

        @if ($align == center) {
            margin: $spacing auto;
        } @else {
            margin: $spacing 0;
        }
    }
}
