// EM Conversion Mixins

// calculates em font size from px font size

@mixin elr-em-font($size) {
    font-size: to-rems($size);
}

@mixin elr-em-line-height($size) {
    line-height: to-rems($size);
}

@mixin elr-em-height($height) { height: to-rems($height); }
@mixin elr-em-width($width) { width: to-rems($width); }
@mixin elr-em-min-height($height) { min-height: to-rems($height); }
@mixin elr-em-min-width($width) { min-width: to-rems($width); }
@mixin elr-em-max-height($height) { max-height: to-rems($height); }
@mixin elr-em-max-width($width) { max-width: to-rems($width); }

// calculates em margin from px margin

@mixin elr-em-margin($qualifier: 'all', $top: null, $right: null, $bottom: null, $left: null) {

    @if ($qualifier == 'all') {
        @if ($right == null) {
            margin: to-rems($top);
        } @else if ($bottom == null) {
            margin: to-rems($top) to-rems($right);
        } @else {
            margin: to-rems($top) to-rems($right) to-rems($bottom) to-rems($left);
        }
    } @else if ($qualifier == 'top') {
        margin-top: to-rems($top);
    } @else if ($qualifier == 'right') {
        margin-right: to-rems($top);
    } @else if ($qualifier == 'bottom') {
        margin-bottom: to-rems($top);
    } @else if ($qualifier == 'left') {
        margin-left: to-rems($top);
    }
}

// calculates em padding from px padding

@mixin elr-em-padding($qualifier: 'all', $top: null, $right: null, $bottom: null, $left: null) {
    @if ($qualifier == 'all') {
        @if ($right == null) {
            padding: to-rems($top);
        } @else if ($bottom == null) {
            padding: to-rems($top) to-rems($right);
        } @else {
            padding: to-rems($top) to-rems($right) to-rems($bottom) to-rems($left);
        }
    } @else if ($qualifier == 'top') {
        padding-top: to-rems($top);
    } @else if ($qualifier == 'right') {
        padding-right: to-rems($top);
    } @else if ($qualifier == 'bottom') {
        padding-bottom: to-rems($top);
    } @else if ($qualifier == 'left') {
        padding-left: to-rems($top);
    }
}
