// Grids

@mixin elr-flexible-grid($images-per-row: 4, $flex: true, $grid-width: 1040px, $fixed-height: 'no') {
    @include elr-clearfix;
    background-color: $white;
    position: relative;
    padding: 0;

    @if $flex == true {
        width: 100%;
    } @else if $flex == false {
        width: $grid-width + (10 * $images-per-row);
    }

    .elr-grid-item {
        @if $flex == true {
            margin: 10px .5%;
            width: (100% / $images-per-row) - 1;
        } @else if $flex == false {
            margin: 10px 5px;
            width: $grid-width / $images-per-row;
        }
        
        padding: 0;
        list-style: none;
        background-color: $white;
        border: 1px solid $light-grey;
        float: left;
        border-radius: 5px;
        color: $dark-grey;
        box-shadow: $lightest-grey 1px 1px 1px;
        position: relative;

        img {
            margin: 0;
            width: 100%;
            border-radius: 5px 5px 0 0;

            @if $fixed-height != 'no' {
                height: $fixed-height;
            }
        }
    }

    .overlay {
        background-color: rgba($white, .5);  
        width: 100%;
        z-index: 100;
        border-radius: 5px 5px 0 0;
        position: absolute;
        cursor: pointer;      
    }

    .caption {
        padding: 10px;

        h1 {
            @include elr-em-font(16);
            color: $elr-blue;
            margin: 0;
            padding: 0;
        }

        h2 {
            @include elr-em-font(14); 
            margin: 0;
            padding: 0;           
        }

        p {
            @include elr-em-font(14);
            margin: 0;
            padding: 0;
        }

        ul {
            @include elr-clearfix;
            margin: 0;
            padding: 0;
        }

        li {
            margin: 5px 0;
            padding: 2px 10px;
            color: $white;
            background-color: $elr-blue;
            border-radius: 3px;
            list-style: none;
            display: inline-block;

            &:hover {
                cursor: pointer;
            }
        }
    }
}
