// Layout

@mixin elr-reset-element() {
    margin: 0;
    padding: 0;
    line-height: 1;
}

// Modern clearfix
// Use instead of overflow:hidden to clear floats

@mixin elr-clearfix() {
    &:after,
    &:before {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }
}

@mixin elr-screen-reader() {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Centers an element horizontally on the page

@mixin elr-center-block($width: null) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: none;

    @if $width != null {
        width: $width;
    }
}

@mixin elr-centerer($vertical: true, $horizontal: true) {
    position: absolute;

    @if ($vertical and $horizontal) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if ($vertical) {
        top: 50%;
        transform: translate(0, -50%);
    } @else if ($horizontal) {
        left: 50%;
        transform: translate(-50%, 0);
    }
}

@mixin elr-ratio-box ($ratio: 1) {

    overflow: hidden;
    position: relative;

    // The container's height, as a percentage of the
    // container's width, is set by assigning
    // padding-top to a pseudo-element.
    &:before {
        content: '';
        display: block;
        height: 0;
        padding-top: (1 / $ratio) * 100%;
    }
}
