// Media Query Breaking Points

// @mixin elr-breakpoint($size) {
//     @media (max-width: map-get($breakpoints, $size)) {
//         @content;
//     }
// }

@mixin elr-breakpoint($point, $modifier: max-width, $secondary-point: null, $secondary-modifier: null) {

    @if $point == 'mercury' {
        @media (min-width: to-ems($mercury)) { @content; }
    } @else if $point == 'venus' {
        @media (max-width: to-ems($venus)) { @content; }
    } @else if $point == 'earth' {
        @media (max-width: to-ems($earth)) { @content; }
    } @else if $point == 'mars' {
        @media (max-width: to-ems($mars)) { @content; }
    } @else if $point == 'jupiter' {
        @media (max-width: to-ems($jupiter)) { @content; }
    } @else if $point == 'saturn' {
        @media (max-width: to-ems($saturn)) { @content; }
    } @else if $point == 'uranus' {
        @media (max-width: to-ems($uranus)) { @content; }
    } @else if $point == 'neptune' {
        @media (max-width: to-ems($neptune)) { @content; }
    } @else if $point == 'pluto' {
        @media (max-width: to-ems($pluto)) { @content; }
    } @else if $point == 'iphone6pLandscape' {
        @media (max-width: to-ems($iphone6pLandscape)) { @content; }
    } @else if $point == 'iphone6pPortrait' {
        @media (max-width: to-ems($iphone6pPortrait)) { @content; }
    } @else if $point == 'iphone5Portrait' {
        @media (max-width: to-ems($iphone5Portrait)) { @content; }
    } @else if $secondary-point != null {
        @media ($modifier: to-ems($point)) and ($secondary-modifier: to-ems($secondary-point)) { @content; }
    } @else {
        @media ($modifier: to-ems($point)) { @content; }
    }
}
