// Buttons

// Styles a rounded button with a 1px border and transparent background
// Useful for <button> and <a> elements

@mixin elr-button() {
    @include elr-em-padding('all', 10, 0);
    max-width: 100%;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-shadow: none;
    box-shadow: none;
    font-weight: $bold;
    transition: background-color, .3s ease, color, .3s ease;

    &:hover,
    &.active {
        text-decoration: none;
        text-shadow: none;
        box-shadow: none;
        transition: background-color, .3s ease, color, .3s ease;
    }
}

@mixin elr-button-link(
        $color: $white,
        $bk-color: $link-color,
        $width: 300px,
        $center: left,
        $border-radius: 3px,
        $border-color: none,
        $display: inline-block
) {
    @include elr-em-width($width);
    border-width: 1px;
    border-style: solid;
    border-color: $color;
    color: $color;
    background-color: transparent;

    @if $border-radius {
        border-radius: $border-radius;
    }

    @if $center == center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    } @else {
        display: $display;
    }

    &:hover {

        @if $border-color != none {
            border-color: $border-color;
        } @else {
            border-color: $color;
        }

        background-color: $color;
        color: $bk-color;
    }
}

// Styles a rounded button with a 1px border and solid background
// Useful for <button> and <a> elements

@mixin elr-button-solid(
        $bk-color: $link-color,
        $color: $white,
        $width: 300px,
        $center: left,
        $border-radius: 3px,
        $border-color: none,
        $display: inline-block
    ) {

    @include elr-em-width($width);
    background-color: $bk-color;
    color: $color;

    @if $border-radius {
        border-radius: $border-radius;
    }

    @if $border-color != none {
        border: 1px solid $border-color;
    } @else {
        border: 0;
    }

    @if $center == center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    } @else {
        display: $display;
    }

    &:hover {
        background-color: lighten($bk-color, 10%);
    }
}
