// Button Groups

@mixin elr-button-group(
    $bk-color: $link-color,
    $color: $white,
    $border-radius: 0,
    $border: none,
    $hover-color: lighten($bk-color, 10%),
    $hover-text-color: $color
) {
    @include elr-clearfix;
    border-collapse: collapse;

    button {
        @include elr-button;
        @include elr-em-padding('left', 20);
        @include elr-em-padding('right', 20);
        float: left;
        background-color: $bk-color;
        color: $color;
        display: block;
        margin: 0;

        @if $border == none {
            border: 0;
        } @else {
            border: 1px solid $border;
            border-left: 0;
        }

        &.active {
            background-color: $hover-color;
            color: $hover-text-color;
        }

        &:hover {
            background-color: $hover-color;
            color: $hover-text-color;
        }

        @if $border-radius != 0 {
            &:first-of-type {
                border-radius: $border-radius 0 0 $border-radius;

                @if $border == none {
                    border-left: 0;
                } @else {
                    border-left: 1px solid $border;
                }
            }

            &:last-of-type {
                border-radius: 0 $border-radius $border-radius 0;
            }
        }
    }
}

@mixin elr-fluid-button-group($num-buttons, $width: 100%) {
    @include elr-button-group($bk-color: $link-color, $color: $white, $border-radius: 0, $border: none);

    button {
        width: ($width / $num-buttons);
    }
}

@mixin elr-font-awesome-icon-group(
    $direction: horizontal,
    $button-width: auto,
    $border-radius: 5px,
    $border-color: none
) {
    @include elr-clearfix;

    button {
        display: block;

        @if ($direction == 'vertical') {
            @include elr-em-width($button-width);
            float: none;
            margin: 0;

            @if ($border-radius > 0) {
                &:first-child {
                    border-radius: $border-radius $border-radius 0 0;
                }

                &:last-child {
                    border-radius: 0 0 $border-radius $border-radius;
                }
            }
        } @else {
            float: left;

            @if ($border-radius > 0) {
                &:first-child {
                    border-radius: $border-radius 0 0 $border-radius;
                }

                &:last-child {
                    border-radius: 0 $border-radius $border-radius 0;
                }
            }
        }

        border-radius: 0;
        margin-right: 0;
    }
}
