// Navigation Elements

// creates a nav-bar with a transparent background

@mixin elr-nav-bar($text-color: $text-color, $hover-color: $link-color, $align: left, $divider-color: $light-grey) {
    @include elr-clearfix;
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        padding: 0;
        list-style: none;
        display: block;
        float: left;
    }

    a {
        padding: 5px 10px;
        width: 100%;
        text-align: $align;
        color: $text-color;
        text-decoration: none;
        transition: color .3s ease;

        &.active { color: $hover-color; }

        &:hover,
        &:focus {
            color: $hover-color;
            transition: color .3s ease;
        }
    }

    .elr-submenu {
        color: $text-color;
        padding: 0;

        li { float: none; }

        a { text-decoration: none; }

        .divider { @include elr-list-divider($divider-color); }
    }

    .text-disabled {
        color: $light-grey;
        cursor: not-allowed;
    }
}

@mixin elr-nav-bar-stacked($text-color: $text-color, $hover-color: $link-color, $align: left) {
    @include elr-nav-bar($text-color, $hover-color, $align);

    li {
        float: none;
        padding: 0;
    }

    .elr-submenu {
        padding-top: 5px;
        padding-bottom: 5px;

        a { padding-left: 20px; }
    }
}

// creates a nav bar with a solid color background
// hover state will invert text color and background color

@mixin elr-nav-bar-solid($text-color: $background-color, $background-color: $link-color, $align: left, $active-color: lighten($link-color, 10%)
) {
    @include elr-nav-bar($text-color, $background-color, $align);

    a {
        display: block;
        margin: 0;
        background-color: $background-color;
        color: $text-color;
        padding-left: 20px;
        padding-right: 20px;

        &.active,
        &:hover,
        &:focus {
            background-color: $active-color;
            color: $text-color;
        }
    }
}

@mixin elr-nav-bar-solid-stacked($text-color: $background-color, $background-color: $link-color, $align: left, $active-color: lighten($link-color, 10%)) {
    @include elr-nav-bar-stacked($text-color, $background-color, $align);
    background-color: $background-color;

    a {
        display: block;
        background-color: $background-color;
        color: $text-color;
        transition: color .3s ease, background-color .3s ease;

        &.active,
        &:hover,
        &:focus {
            background-color: $active-color;
            color: $text-color;
            transition: color .3s ease, background-color .3s ease;
        }
    }
}
