@mixin elr-pagination-bar(
    $background-color: $white,
    $border-radius: 5px,
    $border-color: $light-grey,
    $color: $link-color,
    $font-size: 12px,
    $centered: false
) {

    @if ($centered) {
        text-align: center;
    }

    .previous-pager,
    .next-pager {
        @include elr-em-font($font-size);
        border: 0;
        color: $white;
        background-color: $color;
        padding-left: 20px;
        padding-right: 20px;

        @if ($border-radius == 50%) {
            border-radius: 20px;
        } @else {
            border-radius: $border-radius;
        }

        &:hover {
            border: 0;
            color: $white;
            background-color: lighten($color, 10%);
        }

        &.disabled {
            color: $white;
            background-color: $light-grey;

            @if ($border-color) {
                border-color: $light-grey;
            }
        }
    }

    li {
        padding: 0;
        margin: 0;

        &:first-child a {
            border-radius: $border-radius 0 0 $border-radius;

            @if ($border-color) {
                border-left: 1px solid $border-color;

                &.disabled,
                &.disabled:hover {
                    border-left: 1px solid $light-grey;
                }

                &.active {
                    border-left: 1px solid $color;
                }

                &:hover {
                    border-left: 1px solid lighten($color, 10%);
                }
            }
        }

        &:last-child a {
            border-radius: 0 $border-radius $border-radius 0;

            @if ($border-color) {
                border-right: 1px solid $border-color;

                &.disabled,
                &.disabled:hover {
                    border-right: 1px solid $light-grey;
                }

                &.active {
                    border-right: 1px solid $color;
                }

                &:hover {
                    border-right: 1px solid lighten($color, 10%);
                }
            }
        }
    }

    a {
        @include elr-em-font($font-size);
        padding: 10px 15px;
        color: $color;
        background-color: $background-color;
        transition: color .3s ease, background-color .3s ease, border-color .3s ease;

        @if ($border-color) {
            border: 1px solid $border-color;
        }

        @if ($border-color) {
            border-left: 0;
            border-right: 1px solid $border-color;
        }

        &:hover {
            color: $background-color;
            background-color: lighten($color, 10%);
            transition: color .3s ease, background-color .3s ease, border-color .3s ease;

            @if ($border-color) {
                border-top: 1px solid lighten($color, 10%);
                border-bottom: 1px solid lighten($color, 10%);
            }
        }

        &.disabled {
            color: $white;
            background-color: $light-grey;

            @if ($border-color) {
                border-color: $light-grey;
            }
        }

        &.active {
            color: $background-color;
            background-color: $color;

            @if ($border-color) {
                border-top: 1px solid $color;
                border-bottom: 1px solid $color;
            }
        }
    }
}
