@mixin elr-pagination-links($color: $link-color, $border-radius: 5px, $font-size: 14px, $centered: false) {
    @if ($centered) {
        text-align: center;
    }

    .previous-pager,
    .next-pager {
        @include elr-em-font($font-size);
        border: 0;
        color: $white;
        background-color: $color;
        padding-left: 20px;
        padding-right: 20px;

        @if ($border-radius == 50%) {
            border-radius: 20px;
        } @else {
            border-radius: $border-radius;
        }

        &:hover {
            border: 0;
            color: $white;
            background-color: lighten($color, 10%);
        }

        &.disabled {
            color: $white;
            background-color: $light-grey;
        }
    }

    li {
        padding: 0;
        margin: 0;

        &:last-child {
            margin-right: 0;
        }
    }

    a {
        @include elr-em-font($font-size);
        color: $color;
        padding: 10px 13px;
        margin-right: 5px;
        border-radius: $border-radius;
        transition: color .3s ease, background-color .3s ease;
        line-height: 1;

        &.active {
            color: $white;
            background-color: $color;
        }

        &:hover {
            color: $white;
            background-color: lighten($color, 10%);
            transition: color .3s ease, background-color .3s ease;
        }

        &.disabled {
            color: $grey;
            background-color: transparent;
        }
    }
}
