// Circles

// Creates a circular element

@mixin elr-circle($diameter, $display: block) {
    display: $display;
    width: $diameter;
    height: $diameter;
    border-radius: $diameter;
}

// Creates an ellipse

@mixin elr-ellipse($width, $height, $display: block) {
    display: $display;
    height: $height;
    width: $width;
    border-radius: 50%;
}
