// Shapes
// complex shapes are borrowed from: 
// https://github.com/MoOx/compass-recipes/blob/master/stylesheets/recipes/shape/

// Creates a quadrilateral-diamond
// default equilateral diamond
// positive skew for horizontal diamond
// negative skew for vertical diamond

@mixin elr-quadrilateral-diamond($size, $skew: 0) {
    @include elr-square($size);
    transform: rotate(-45deg) skew($skew#{deg}, $skew#{deg});
}

// Creates a pentagon

@mixin elr-pentagon($width, $height, $background-color) {
    position: relative;
    width: $width * .90;
    border-width: $height * .5 $width * .18 0;
    border-style: solid;
    border-color: $background-color transparent;

    &:before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        top: -$height * .85;
        left: -$width * .18;
        border-width: 0 $width * .45 $height * .35;
        border-style: solid;
        border-color: transparent transparent $background-color;
    }
}

// Creates a hexagon

@mixin elr-hexagon($width, $height, $background-color) {
    width: $width;
    height: ($height / 2);
    background-color: $background-color;
    position: relative;
    
    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        border-left: ($width / 2) solid transparent;
        border-right: ($width / 2) solid transparent;
    }

    &:before {
        top: -($width / 3.3);
        border-bottom: ($width / 3.3) solid $background-color;
    }

    &:after {
        bottom: -($width / 3.3);
        border-top: ($width / 3.3) solid $background-color;
    }
}

// Creates a parallelogram

@mixin elr-parallelogram($width, $height, $skew: 20) {
    width: $width;
    height: $height;
    transform: skew($skew#{deg}, 0deg);
}

// Creates a trapezoid

@mixin elr-trapezoid($width, $background-color) {
    border-bottom: ($width / 2) solid $background-color;
    border-left: ($width / 3) solid transparent;
    border-right: ($width / 3) solid transparent;
    height: 0;
    width: $width;
}
