{% extends "base.twig" %}

{% block content %}
<article class="elr-container">
    <section>
        {% block page %}
        <div class="elr-row">
            <div class="elr-col-quarter">
                <h3>Elizabeth Rogers</h3>
                <h4>Web Developer</h4>
                <h4>San Antonio, Texas</h4>
                <a href="/contact" class="elr-button elr-button-primary">Contact</a>
            </div>
            <div class="elr-col-three-fourths">
                <div class="posts elr-row">
                    <h2>Posts</h2>
                    {# list posts #}
                    <div class="post elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam odit cumque rerum aliquam animi enim tempora, error eum velit. Assumenda!</p>
                    </div>
                    <div class="post elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo repellat distinctio dolores quasi eius ratione repudiandae, cupiditate culpa molestiae molestias!</p>
                    </div>
                    <div class="post elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sit eos adipisci itaque recusandae unde, autem dolores sequi, aperiam. Architecto.</p>
                    </div>
                </div>
                <div class="posts elr-row">
                    <h2>Projects</h2>
                    {# list projects #}
                    <div class="project elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                    </div>
                    <div class="project elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                    </div>
                    <div class="project elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                    </div>
                </div>
                <div class="elr-row">
                    <div class="elr-col-full">
                        <h2>Background</h2>
                        <h3>Summary</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore quaerat ex atque similique labore quisquam deleniti, omnis modi, dolorem quo, explicabo quibusdam. Natus at nisi animi beatae eveniet accusamus, tempora laudantium numquam repellendus maiores quia velit id saepe iure perspiciatis impedit, perferendis. Tempore nisi quia, quasi nobis doloribus quidem at.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident veritatis ea natus. Dignissimos sequi error molestias quasi facere neque voluptatibus officia quibusdam delectus, pariatur quos, similique aliquam consequatur officiis doloribus quo culpa et cupiditate numquam quisquam. Aut doloribus sapiente vel! Odio inventore provident sunt, at, aliquid perspiciatis hic minima optio.</p>
                        <h3>Experience</h3>
                        {# list experience #}
                        <p>2014 - 2016</p>
                        <h4>Company Name</h4>
                        <p>Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum similique eligendi ipsam iste voluptatem veritatis reiciendis, velit molestiae animi laboriosam.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit labore, natus voluptatibus quisquam. Doloribus numquam tenetur molestiae, tempora repellendus nemo tempore dolore recusandae qui laudantium.</p>
                        <h2>Skills</h2>
                        {# list skills #}
                    </div>
                </div>
                <div class="elr-row">
                    <h2>Recommendations</h2>
                    <div class="recommendation elr-col-third">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quis maxime, magnam ipsam quasi rerum consectetur tempora neque recusandae quos?</p>
                            <cite>
                                <span>A Person</span>
                                <span>Company</span>
                                <span>Job Title</span>
                            </cite>
                        </blockquote>
                    </div>
                    <div class="recommendation elr-col-third">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id pariatur, doloremque, aperiam placeat doloribus assumenda omnis illum ad reiciendis a.</p>
                            <cite>
                                <span>A Person</span>
                                <span>Company</span>
                                <span>Job Title</span>
                            </cite>
                        </blockquote>
                    </div>
                    <div class="recommendation elr-col-third">
                        <blockquote>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima ad facere eveniet incidunt ipsa totam repudiandae quaerat ex dicta modi.</p>
                            <cite>
                                <span>A Person</span>
                                <span>Company</span>
                                <span>Job Title</span>
                            </cite>
                        </blockquote>
                    </div>
                </div>
                <div class="tutorials elr-row">
                    <h2>Tutorials</h2>
                    <div class="tutorial elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam odit cumque rerum aliquam animi enim tempora, error eum velit. Assumenda!</p>
                    </div>
                    <div class="tutorial elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo repellat distinctio dolores quasi eius ratione repudiandae, cupiditate culpa molestiae molestias!</p>
                    </div>
                    <div class="tutorial elr-col-third">
                        <figure>
                            <img src="https://unsplash.it/200" alt="">
                        </figure>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <p>March 13, 2017</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil sit eos adipisci itaque recusandae unde, autem dolores sequi, aperiam. Architecto.</p>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
    </section>
</article>
{% endblock %}