// Pagination

@mixin elr-pagination-bar($background-color: $link-color, $border-radius: 5px, $border-color: $link-color, $color: $white, $font-size: 12) {
    display: inline-block;

    ul {
        @include elr-clearfix;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        display: block;
        padding: 0;
        margin: 0;
        float: left;

        &:first-child a {
            border-radius: $border-radius 0 0 $border-radius;

            @if ($border-color) {
                border-left: 1px solid $border-color;
            }
        }

        &:last-child a {
            border-radius: 0 $border-radius $border-radius 0;

            @if ($border-color) {
                border-right: 1px solid $border-color;
            }
        }
    }

    a {
        @include elr-em-font($font-size);
        display: inline-block;
        text-decoration: none;
        padding: 10px 15px;
        color: $color;
        background-color: $background-color;

        @if ($border-color) {
            border: 1px solid $border-color;
        }

        @if ($border-color) {
            border-left: 0;
            border-right: 1px solid $border-color;
        }

        &:hover {
            color: $background-color;
            background-color: $color;
        }

        &.disabled {
            color: $color;
            background-color: $light-grey;
            cursor: not-allowed;

            @if ($border-color) {
                border-color: $light-grey;
            }
        }

        &.active {
            color: $background-color;
            background-color: $color;
        }
    }
}
