// Thumbnails

@mixin elr-thumbnail($border-color: $white, $width: 150px, $height: 125px, $border-radius: 0, $display: block) {
    overflow: hidden;

    @if ($border-color) {
        border: 5px solid $border-color;
        box-shadow: $grey 0 0 0 1px;
    }

    @if $border-radius == 'round' {
        @include elr-circle($width);
    } @else if $border-radius != 0 {
        @include elr-rectangle($width, $height, $display, $border-radius);
    } @else if $border-radius == 0 {
        @include elr-rectangle($width, $height, $display);
    }

    img {
        height: 100%;
        width: auto;
    }
}

@mixin elr-thumbnail-list($border-color: $white, $width: 150px, $height: 120px, $glow: $elr-blue) {
    @include elr-clearfix;
    padding: 10px 0;
    list-style: none;

    li {
        margin: 0 10px 10px 0;
        float: left;
        padding: 0;
    }

    img {
        @include elr-thumbnail($border-color);
        padding: 0;
        margin: 0;
        transition: box-shadow, .3s, ease;

        &:hover {
            transition: box-shadow, .3s, ease;
            box-shadow: $grey 0 0 0 1px, $glow 0 0 3px 2px;
        }
    }
}
