// image styles

@mixin elr-flex-image() {
    max-width: 100%;
    height: auto;
}

@mixin elr-circle-image($width) {
    width: $width;
    height: $width;
    border-radius: ($width / 2);
    overflow: hidden;

    img {
        height: $width;
        max-width: 100%;
    }
}

@mixin elr-rounded-image($border-radius) {
    height: auto;
    border-radius: $border-radius;
    max-width: 100%;
}

@mixin elr-image-overlay($width, $height) {
    img {
        max-width: 100%;
        height: auto;
    }
}

@mixin elr-retina($url) {
    background-image: url('/logo.png');

    @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1),only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
        background-image: url('/logo@2x.png');
        background-size: 100px auto;
    }
}
