// Table Base
// scss-lint:disable NestingDepth

@mixin elr-table-base($bk-color: $white, $color: $dark-grey, $hover-bk: $link-color, $border-color: 'none', $stripes: 'none') {
    color: $color;
    border-spacing: 0;
    text-align: left;
    margin: 10px auto 30px;

    @include elr-breakpoint('mercury') {
        width: 100%;
    }

    @include elr-breakpoint('venus') {
        width: 100%;
    }

    @include elr-breakpoint('mars') {
        width: 600px;
        overflow-x: scroll;
    }

    @include elr-breakpoint('neptune') {
        width: 400px;
    }

    tbody {
        background-color: $bk-color;

        tr {
            &:hover {
                background-color: $hover-bk;
                color: $white;
            }

            @if ($border-color != 'none') {
                border: 1px solid $border-color;
            }

            @if ($stripes != 'none') {
                &:nth-child(even) {
                    background-color: $stripes;

                    &.elr-danger-row {
                        background-color: lighten($danger-color, 20%);
                        color: darken($danger-color, 20%);
                    }

                    &.elr-warning-row {
                        background-color: lighten($warning-color, 20%);
                        color: darken($warning-color, 20%);
                    }

                    &.elr-success-row {
                        background-color: lighten($success-color, 20%);
                        color: darken($success-color, 20%);
                    }

                    &.elr-muted-row {
                        background-color: $muted-color;
                        color: darken($muted-color, 20%);
                    }

                    &:hover {
                        background-color: $hover-bk;
                        color: $white;
                    }
                }
            }
        }
    }

    tr {
        &.elr-danger-row {
            background-color: lighten($danger-color, 20%);
            color: darken($danger-color, 20%);
        }

        &.elr-warning-row {
            background-color: lighten($warning-color, 20%);
            color: darken($warning-color, 20%);
        }

        &.elr-success-row {
            background-color: lighten($success-color, 20%);
            color: darken($success-color, 20%);
        }

        &.elr-muted-row {
            background-color: $muted-color;
            color: darken($muted-color, 20%);
        }
    }

    th,
    td {
        padding: 5px 10px;
    }

    th {
        @include elr-em-font(14);
        font-weight: bold;
        color: $grey;
    }

    td {
        @include elr-em-font(14);
        font-weight: normal;
    }

    form {
        padding: 0;
        margin: 0;
    }

    input {
        display: block;
        width: 100%;
        margin: 5px 0;
        padding: 5px 10px;
        border-radius: 5px;
        box-sizing: border-box;
        border: 1px solid darken($lightest-grey, 10%);
        background-color: $lightest-grey;
        transition: background-color .5s ease;

        &:focus {
            outline: none;
            background-color: $white;
            transition: background-color .5s ease;
        }
    }

    .elr-sortable-table-button {
        border: 0;
        background: $white;
        color: $link-color;
        padding: 0;

        &:hover {
            cursor: pointer;
            color: lighten($link-color, 20%);
        }

        &.active {
            color: darken($link-color, 20%);
        }
    }
}
