// Back To Top

@mixin elr-back-to-top($bk-color: $link-color, $color: $white) {
    @include elr-square(50px, none, 3px);
    color: $color;
    position: fixed;
    bottom: 5%;
    right: 5%;
    border: 0;
    cursor: pointer;
    padding: 0 0 5px;
    line-height: 0;
    background-color: rgba($bk-color, .7);

    &.fa {
        @include elr-em-font(36px);
    }

    @include elr-breakpoint('mercury') {
        right: 10%;
    }

    &:hover {
        background-color: rgba($bk-color, 1);
    }
}
