// Context Buttons

@mixin elr-context-button($type: info, $color: $white, $width: 300px, $center: left, $border-radius: 3px, $display: inline-block) {

    @if $type == info {
        $bk-color: $info-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == danger {
        $bk-color: $danger-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == warning {
        $bk-color: $warning-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == success {
        $bk-color: $success-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    } @else if $type == muted {
        $bk-color: $muted-color;
        @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, none, $display);
    }
}
