// Dropdown Buttons

@mixin elr-dropdown-list(
    $color: $link-color,
    $bk-color: $background-color,
    $align: left,
    $divider-color: $light-grey,
    $border: none,
    $border-radius: 0
) {
    // @include elr-nav-bar-solid-stacked($color, $bk-color, $align, $divider-color);
    @include elr-em-font(14px);
    width: 100%;
    position: absolute;
    display: none;
    z-index: 100;
    font-weight: $bold;
    top: 100%;

    @if ($border-radius) {
        border-radius: $border-radius;

        li {
            &:first-child a { border-radius: $border-radius $border-radius 0 0; }
            &:last-child a { border-radius: 0 0 $border-radius $border-radius; }
        }
    }

    @if ($border != none) {
        border: 1px solid $border;
    }
}

@mixin elr-dropdown-button-solid (
    $bk-color: $link-color,
    $color: $background-color,
    $width: 200px,
    $border: none,
    $border-radius: 0,
    $divider-color: $light-grey
) {
    position: relative;

    @if (unitless($width) or unit($width) == 'px') {
        @include elr-em-width($width);
    } @else {
        width: $width;
    }

    button {
        @if ($border == none) {
            @include elr-button-solid($bk-color, $color, 100%);
        } @else {
            @include elr-button-solid($bk-color, $color, 100%, center, $border-radius, $border);
        }

        height: 40px;
        margin-bottom: 5px;
        position: relative;

        &:after {
            content: '\25BE';
            position: absolute;
            right: 5%;
        }

        &.clicked {
            color: $color;
            background-color: lighten($bk-color, 10%);
        }
    }

    .elr-dropdown-list { @include elr-dropdown-list($color, $bk-color, left, $divider-color, $border, $border-radius); }
}

@mixin elr-dropdown-button-split(
    $bk-color: $link-color,
    $color: $main-color,
    $border-radius: 0,
    $border: none,
    $divider-color: lighten($link-color, 20%),
    $width: 200px
) {
    @include elr-em-width($width + 50px);
    position: relative;

    .elr-dropdown-button-group {
        @include elr-button-group($bk-color, $color, $border-radius, $border);

        button {
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 5px;
        }
    }

    button {
        position: relative;
        margin: 0;
        width: $width - 50;
        height: 40px;

        &:last-of-type {
            padding-left: 10px;
            padding-right: 10px;
            width: 50px;
            height: 40px;

            &.clicked {
                color: $color;
                background-color: lighten($bk-color, 10%);
            }
        }

        &.clicked {
            color: $color;
            background-color: lighten($bk-color, 10%);
        }
    }

    .elr-dropdown-list { @include elr-dropdown-list($color, $bk-color, left, $divider-color, $border, $border-radius); }
}
