// Dropdown Nav Menu

@mixin elr-dropdown-nav($text-color: $white, $background-color: $link-color, $divider-color: null, $border-radius: 0) {
    // @include elr-nav-bar-solid($text-color, $background-color, left);

    > li {
        position: relative;

        @if ($divider-color) {
            border-top: 1px solid $divider-color;
            border-bottom: 1px solid $divider-color;

            &:first-child {
                border-left: 1px solid $divider-color;
            }

            &:last-child {
                border-right: 1px solid $divider-color;
            }
        }

        > a {
            padding-left: 20px;
            padding-right: 20px;
            border-radius: $border-radius;
        }
    }

    .elr-submenu {
        // @include elr-nav-bar-solid-stacked($text-color, $background-color, left);
        position: absolute;
        min-width: 130px;
        width: 120%;
        display: none;
        z-index: 100;
        border-radius: $border-radius;

        @if ($divider-color) {
            border: 1px solid $divider-color;
        }

        li {
            position: relative;

            > a {
                border-radius: 0;
            }

            &:first-child a {
                border-radius: $border-radius $border-radius 0 0;
            }

            &:last-child a {
                border-radius: 0 0 $border-radius $border-radius;
            }

            > ul {
                display: none;
                position: absolute;
                left: 100%;
                top: 0;
                z-index: 100;
                width: 120%;
                background-color: $background-color;

                @if ($divider-color) {
                    border: 1px solid $divider-color;
                }
            }
        }
    }

    .col-two {
        min-width: 130px * 2;
        background-color: $background-color;

        > li {
            float: left;
            width: (100% / 2);

            &:first-child a {
                border-radius: 0;
            }

            &:last-child a {
                border-radius: 0;
            }
        }
    }

    .col-three {
        min-width: 130px * 3;
        background-color: $background-color;

        > li {
            float: left;
            width: (100% / 3);

            &:first-child a {
                border-radius: 0;
            }

            &:last-child a {
                border-radius: 0;
            }
        }
    }

    .carat,
    .carat-right {
        position: relative;
        padding-right: 25px;

        &:after {
            position: absolute;
            right: 8%;
            font-weight: 700;
            line-height: 1.7em;
            font-size: 12px;
        }
    }

    .carat:after {
        content: '\25BE';
    }

    .carat-right:after {
        content: '\25B8';
    }
}
