@mixin elr-font-awesome-button(
        $icon,
        $icon-position: right,
        $bk-color: $link-color,
        $color: $white,
        $width: 200px,
        $center: left,
        $border-radius: 0,
        $display: inline-block,
        $border-color: none
) {
    @include elr-button-solid($bk-color, $color, $width, $center, $border-radius, $border-color, $display);

    @if ($icon-position == 'left') {
        &:before {
            @include elr-em-padding('right', 10px);
            @include elr-font-awesome(105%);
            content: $icon;
        }
    } @else {
        &:after {
            @include elr-font-awesome(105%);
            @include elr-em-padding('left', 10px);
            content: $icon;
        }
    }
}

@mixin elr-font-awesome-icon-button(
        $icon,
        $bk-color: $link-color,
        $color: $white,
        $center: left,
        $border-radius: 0,
        $display: inline-block,
        $border-color: none
) {
    @include elr-button-solid($bk-color, $color, auto, $center, $border-radius, $border-color, $display);
    padding-left: 15px;
    padding-right: 15px;

    &:after {
        @include elr-font-awesome(105%);
        content: $icon;
    }
}

@mixin elr-font-awesome-icon-circle(
        $icon,
        $bk-color: $link-color,
        $color: $white,
        $center: left,
        $width: 40px,
        $display: inline-block,
        $border-color: none
) {
    @include elr-button-solid($bk-color, $color, $width, $center, $width, $border-color, $display);
    @include elr-em-height($width);
    @include elr-em-line-height($width);
    padding-top: 0;

    &:after {
        @include elr-font-awesome(105%);
        content: $icon;
    }
}
