@mixin elr-mobile-toggle-button(
        $color: $link-color,
        $bg-color: transparent,
        $font-size: 16px,
        $border-radius: 3px,
        $border-color: 'none',
        $hover-color: lighten($bg-color, 10%)
    ) {
    @include elr-em-font($font-size);
    box-shadow: none;
    background-color: $bg-color;
    color: $color;
    padding: 10px;
    line-height: 1;
    transition: color .3s ease, background-color .3s ease;

    @if ($border-radius > 0) {
        border-radius: $border-radius;
    }

    @if ($border-color == 'none') {
        border: 0;
    } @else {
        border: 1px solid $border-color;
    }

    &:hover {
        @if ($bg-color == transparent) {
            background-color: $link-color;
            color: $white;
        } @else {
            background-color: $hover-color;
        }
    }

    .fa {
        font-size: 110%;
        padding-left: 5px;
        padding-right: 5px;
    }
}
