// Offscreen Menu

// works with fluid and fixed layouts
@mixin elr-offscreen-menu($bk-color: $main-color, $width: 200px) {
    width: $width;
    position: absolute;
    left: -$width;
    height: 100%;
    background-color: $bk-color;
    z-index: 100;

    ul {
        // @include elr-nav-bar-solid-stacked();

        li a {
            padding: 10px 15px;
            background-color: $bk-color;

            &:hover {
                background-color: lighten($bk-color, 20%);
            }
        }
    }
}
