// Pagination

@mixin elr-pagination() {
    @include elr-clearfix;

    .previous-pager,
    .next-pager {
        width: 125px;
    }

    .previous-pager {
        float: left;
    }

    .next-pager {
        float: right;
    }

    .pagination-list {
        @include elr-clearfix;
        list-style: none;
        padding: 0;
        margin: 0;
        display: inline-block;
    }

    li {
        display: block;
        float: left;
        padding: 0 5px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }

    a,
    .previous-pager,
    .next-pager {
        color: $link-color;
        text-decoration: none;
        display: block;
        transition: color .3s ease;

        &:hover {
            color: lighten($link-color, 10%);
            transition: color .3s ease;
        }

        &.disabled {
            cursor: not-allowed;
            color: $grey;
        }
    }

    a {

        &.active {
            color: $accent-color;
        }
    }
}
