@mixin elr-pill-button-link(
    $height: 40px,
    $color: $white,
    $bk-color: $link-color,
    $width: 300px,
    $center: left,
    $border-color: none,
    $display: inline-block
) {
    @include elr-em-width($width);
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid $color;
    color: $color;
    line-height: $height;
    height: $height;
    border-radius: ($height / 2);

    @if $center == center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    } @else {
        display: $display;
    }

    &:hover {
        @if $border-color != none {
            border: 1px solid $border-color;
        } @else {
            border: 1px solid $color;
        }

        background-color: $color;
        color: $bk-color;
    }
}

// Styles a rounded button with a 1px border and solid background
// Useful for <button> and <a> elements

@mixin elr-pill-button-solid(
    $height: 40px,
    $bk-color: $link-color,
    $color: $white,
    $width: 300px,
    $center: left,
    $border-color: none,
    $display: inline-block
) {
    @include elr-em-width($width);
    padding-top: 0;
    padding-bottom: 0;
    background-color: $bk-color;
    color: $color;
    line-height: $height;
    height: $height;
    border-radius: ($height / 2);

    @if $border-color != none {
        border: 1px solid $border-color;
    } @else {
        border: 0;
    }

    @if $center == center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    } @else {
        display: $display;
    }

    &:hover {
        background-color: lighten($bk-color, 10%);
        color: $color;
    }
}
