// Sticky Menu

@mixin elr-sticky-menu($position: 'top') {
    @if ($position == 'top') {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: $dark-grey;
        padding: 10px 10%;

        a { color: $white; }

    } @elseif ($position == 'left') {
        position: fixed;
        top: 50px;
        left: auto;
    }
}
