// Positioning Classes

@mixin elr-positioning-classes() {
    .elr-static {
        position: static;
    }

    .elr-absolute {
        position: absolute;
    }

    .elr-relative {
        position: relative;
    }

    .elr-fixed {
        position: fixed;
    }
}

@mixin elr-display-classes() {
    .elr-block {
        display: block;
    }

    .elr-inline {
        display: inline;
    }

    .elr-inline-block {
        display: inline-block;
    }

    .elr-none {
        display: none;
    }
}
