// Reset Classes

@mixin elr-reset {
    html,
    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    input,
    select,
    textarea,
    button,
    main,
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    menu,
    nav,
    section {
        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: none;
        vertical-align: baseline;
        background: transparent;
    }

    body,
    div,
    span,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td {
        font-size: 100%;
    }

    input,
    select,
    textarea {
        border: 1px solid $grey;
    }

    html {
        font-size: $default-font-size#{px};
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
    }

    // remember to define focus styles!
    :focus {
        outline: 0;
        text-decoration: none;
    }

    // remember to highlight inserts somehow!
    ins {
        text-decoration: none;
    }

    a:hover {
        text-decoration: none;
    }

    del {
        text-decoration: line-through;
    }

    // set img max-width
    img {
        height: auto;
    }

    // ie 8 img max-width
    @media \0screen {
        img { width: auto;}
    }

    body {
        line-height: $default-line-height;
        font-size: 1rem;
        font-family: $font-family;
        color: $main-color;
        background-color: $background-color;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    // add html5 compatibilty

    main,
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    menu,
    nav,
    picture,
    section {
        display: block;
    }

    // add box-sizing to block elements

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    dl,
    dt,
    dd,
    li,
    blockquote,
    cite,
    form,
    input,
    label,
    textarea,
    div,
    section,
    aside,
    header,
    footer,
    a,
    nav,
    button,
    span,
    button,
    span,
    article,
    main,
    pre,
    table,
    td,
    tr,
    th,
    thead,
    tbody,
    tfoot,
    details,
    img,
    figure,
    menu,
    figcaption,
    i,
    b,
    picture {
        box-sizing: border-box;
    }

    :before,
    :after {
        box-sizing: border-box;
    }
}
