@mixin elr-icon-border($color: $elr-blue) {
    transition: background .2s ease;

    &::after {
        top: -7px;
        left: -7px;
        padding: 7px;
        box-shadow: 0 0 0 1px $color;
        transition: transform .2s, opacity .2s;
        transform: scale(.8);
        opacity: 0;
    }

    &:hover {
        background-color: rgba($color, 1);

        &::after {
            transform: scale(1);
            opacity: 1;
        }

        .fa {
            color: $white;
        }
    }
}

@mixin elr-icon-border-pop($color: $elr-blue) {
    transition: background .2s ease;

    &::after {
        top: -7px;
        left: -7px;
        padding: 7px;
        box-shadow: 0 0 0 1px $color;
        transition: transform .2s, opacity .2s;
        transform: scale(1.2);
        opacity: 0;
    }

    &:hover {
        background-color: rgba($color, 1);

        &::after {
            transform: scale(1);
            opacity: 1;
        }

        .fa {
            color: $white;
        }
    }
}

@mixin elr-icon-border-pull($color: $elr-blue) {
    color: $white;
    box-shadow: 0 0 0 1px $color;
    transition: color .3s;
    background-color: $white;

    .fa {
        color: $white;
    }

    &::after {
        top: -2px;
        left: -2px;
        padding: 2px;
        z-index: -1;
        background: $color;
        transition: transform .2s, opacity .2s;
    }

    &:hover {
        &::after {
            transform: scale(.85);
        }

        .fa {
            color: $white;
        }
    }
}


@mixin elr-icon-background-fade($color: $elr-blue) {
    color: $white;
    box-shadow: 0 0 0 1px $color;
    transition: color .3s;
    background-color: $white;

    .fa {
        color: $white;
    }

    &::after {
        top: -2px;
        left: -2px;
        padding: 2px;
        z-index: -1;
        background: $color;
        transition: transform .2s, opacity .2s;
    }

    &:hover {
        &::after {
            transform: scale(0);
            opacity: 0;
            transition: transform .4s, opacity .2s;
        }

        .fa {
            color: $color;
        }
    }
}
