@mixin menu-animated($font-size: 16px, $color: $link-color) {
    line-height: 1;
    margin: 0 auto 20px;

    .menu {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;

        @include elr-breakpoint('neptune') {
            flex-direction: column;
        }
    }

    .menu-item {
        display: block;
        margin: 0;
        padding: 0;
    }

    a {
        @include elr-em-font($font-size);
        font-weight: 700;
        display: block;
        padding: $font-size;
        cursor: pointer;
        user-select: none;
        text-decoration: none;
        color: $color;

        &:focus {
            outline: 0;
        }
    }
}

@mixin menu-simple-lines($color: $grey, $line-color: $link-color, $line-thickness: 1px) {
    .menu-item {
        margin: 0;

        &.current a {
            color: $line-color;
            transition: color .5s;
        }
    }

    a {
        width: 120px;
        height: 48px;
        text-align: center;
        color: $color;
        transition: color .3s;

        &:hover,
        &:focus {
            color: $line-color;
        }
    }

    .menu-line {
        position: absolute;
        top: 100%;
        left: 0;
        width: 120px;
        height: $line-thickness;
        pointer-events: none;
        border: $line-thickness solid $white;
        border-width: 0 45px;
        background: $line-color;
        transition: transform .5s;
        padding: 0;
        transition-timing-function: cubic-bezier(1, .01, 0, 1.22);
    }

    .menu-item:nth-child(1).current ~ .menu-line {
        transform: translate3d(0, 0, 0);
    }

    .menu-item:nth-child(2).current ~ .menu-line {
        transform: translate3d(100%, 0, 0);
    }

    .menu-item:nth-child(3).current ~ .menu-line {
        transform: translate3d(200%, 0, 0);
    }

    .menu-item:nth-child(4).current ~ .menu-line {
        transform: translate3d(300%, 0, 0);
    }

    .menu-item:nth-child(5).current ~ .menu-line {
        transform: translate3d(400%, 0, 0);
    }

    @include elr-breakpoint('neptune') {
        .menu-line {
            top: 3em;
        }

        .menu-item:nth-child(1).current ~ .menu-line {
            transform: translate3d(0, 0, 0);
        }

        .menu-item:nth-child(2).current ~ .menu-line {
            transform: translate3d(0, 3em, 0);
        }

        .menu-item:nth-child(3).current ~ .menu-line {
            transform: translate3d(0, 6em, 0);
        }

        .menu-item:nth-child(4).current ~ .menu-line {
            transform: translate3d(0, 9em, 0);
        }

        .menu-item:nth-child(5).current ~ .menu-line {
            transform: translate3d(0, 12em, 0);
        }
    }
}

@mixin menu-double-lines($color: $grey, $link-color: $elr-blue, $line-thickness: 1px) {
    margin-bottom: 0;

    a {
        position: relative;
        display: block;
        margin: 0 1em;
        text-align: center;
        color: $color;
        transition: color .4s;

        &:hover,
        &:focus {
            color: $link-color;
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            height: $line-thickness;
            background: $link-color;
            transform: scale3d(0, 1, 1);
            transition: transform .2s;
        }

        &::before {
            top: 0;
            transform-origin: 0 50%;
        }

        &::after {
            bottom: 0;
            transform-origin: 100% 50%;
        }
    }

    .menu-item.current a {
        color: $elr-blue;

        &::before,
        &::after {
            transform: scale3d(1, 1, 1);
            transition-timing-function: cubic-bezier(.22, .61, .36, 1);
            transition-duration: .4s;
        }
    }
}

@mixin menu-expanding-lines($color: $grey, $link-color: $elr-blue, $line-thickness: 1px) {
    a {
        position: relative;
        display: block;
        margin: 0 1.5em;
        padding: .75em 0;
        text-align: center;
        color: $color;
        transition: color .3s;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: $line-thickness;
            background: $link-color;
            transform: scale3d(0, 1, 1);
            transition: transform .1s;
        }

        &:hover,
        &:focus {
            color: $link-color;

            &::before {
                transform: scale3d(1, 1, 1);
                transition-timing-function: cubic-bezier(.4, 0, .2, 1);
                transition-duration: .3s;
            }
        }
    }

    .menu-item.current a {
        color: $link-color;

        &::before {
            transform: scale3d(1, 1, 1);
            transition-timing-function: cubic-bezier(.4, 0, .2, 1);
            transition-duration: .3s;
        }
    }
}

@mixin menu-drop-lines($color: $grey, $link-color: $elr-blue, $line-thickness: 1px) {
    a {
        // padding-bottom: 10px;
        // text-decoration: none;
        margin: 0 1.5em;
        padding: .75em 0;
        text-align: center;
        position: relative;
        color: $color;
        transition: color .3s;

        &:hover {
            color: $link-color;
        }

        &::after {
            position: absolute;
            top: 100%;
            left: 5%;
            width: 90%;
            height: $line-thickness;
            background: $link-color;
            content: '';
            opacity: 0;
            transition: height .3s, opacity .3s, transform .3s;
            transform: translateY(-10px);
        }

        &:hover::after,
        &:focus::after {
            height: $line-thickness;
            opacity: 1;
            transform: translateY(0);
        }
    }

    .menu-item.current a {
        &::after {
            height: $line-thickness;
            opacity: 1;
            transform: translateY(0);
        }
    }
}
