@mixin elr-flex-grid() {
    .elr-flex-row {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .elr-flex-col {
        flex: 1;

        @include elr-breakpoint('saturn') {
            flex: 0 0 100%;
        }

        &.elr-flex-col-full {
            flex: 0 0 100%;
        }

        &.elr-flex-col-half {
            flex: 0 0 50%;
        }

        &.elr-flex-col-third {
            flex: 0 0 (100% / 3);
        }

        &.elr-flex-col-quarter {
            flex: 0 0 25%;
        }

        &.elr-flex-col-fifth {
            flex: 0 0 (100% / 5);
        }

        &.elr-flex-col-two-thirds {
            flex: 0 0 (100% / 3) * 2;
        }

        &.elr-flex-col-three-fourths {
            flex: 0 0 75%;
        }
    }

    // .elr-flex-row > .elr-flex-col {
    //     display: flex;

    //     @include elr-breakpoint('saturn') {
    //         flex: 0 0 100%;
    //         display: block;
    //     }
    // }

    .elr-flex-row-top { align-items: flex-start; }

    .elr-flex-row-bottom { align-items: flex-end; }

    .elr-flex-row-center { align-items: center; }

    .elr-flex-row-justify-center { justify-content: center; }

    .elr-flex-col-top { align-self: flex-start; }

    .elr-flex-col-bottom { align-self: flex-end; }

    .elr-flex-col-center { align-self: center; }
}
