@mixin elr-columns-lg($column-count: 12) {
    @for $i from 1 through $column-count {
        .elr-col-lg-#{$i} {
            @include elr-clearfix;

            @include elr-breakpoint($saturn - 1, 'min-width') {
                width: (100 / $column-count) * $i * 1%;
                float: left;
            }
        }
    }
}

@mixin elr-columns-md($column-count: 12) {
    @for $i from 1 through $column-count {
        .elr-col-md-#{$i} {
            @include elr-clearfix;

            @include elr-breakpoint('jupiter') {
                width: (100 / $column-count) * $i * 1%;
                float: left;
            }
        }
    }
}

@mixin elr-columns-sm($column-count: 12) {
    @for $i from 1 through $column-count {
        .elr-col-sm-#{$i} {
            @include elr-clearfix;

            @include elr-breakpoint('neptune') {
                width: (100 / $column-count) * $i * 1%;
                float: left;
            }
        }
    }
}
