// Form Elements

@mixin elr-select-control($width: 100%, $background-color: $lightest-grey, $border-color: $light-grey, $text-color: $dark-grey, $border-radius: 3px, $font-size: 16, $height: 40px) {
    width: $width;
    position: relative;

    .dropdown-label {
        @include elr-em-font($font-size);
        @include elr-clearfix;
        width: 100%;
        height: $height;
        display: block;
        position: relative;
        background-color: $background-color;
        border-radius: $border-radius;
        border: 1px solid $border-color;

        .dropdown-text {
            padding: 0 5px 0 10px;
            float: left;
            display: block;
            position: relative;
            height: $height;
            color: $text-color;
            line-height: ($font-size * 2) + 2#{px};
        }

        .dropdown-button {
            display: block;
            float: right;
            width: 25%;
            text-align: center;
            line-height: ($font-size * 2) + 2#{px};
            cursor: pointer;
            height: $height - 2;
            border-left: 1px $border-color solid;
            padding: 0;
            color: $text-color;
            font-size: 80%;
        }
    }

    ul {
        width: 100%;
        margin-top: 5px;
        border: 1px solid $border-color;
        font-weight: 300;
        padding: 0;
        cursor: pointer;
        list-style: none;
        background-color: $background-color;
        border-radius: $border-radius;
        position: absolute;
        z-index: 100;

        li {
            @include elr-em-font($font-size);
            width: 100%;
            height: $height;
            display: block;
            padding: 0 0 0 20px;
            line-height: ($font-size * 2) + 2#{px};
            color: lighten($text-color, 5%);
            background-color: $background-color;

            &:hover {
                background-color: lighten($background-color, 5%);
            }

            &:first-child {
                border-radius: $border-radius $border-radius 0 0;
            }

            &:last-child {
                border-radius: 0 0 $border-radius $border-radius;
            }
        }
    }
}
