@mixin elr-icon-dash($rotate: false, $width: 90px, $background: $elr-blue-light, $color: $elr-blue) {
    $border-thickness: 3px;
    box-shadow: 0 0 0 $border-thickness rgba($color, 1);
    transition: box-shadow .3s ease;

    &:after {
        top: -$border-thickness;
        left: -$border-thickness;
        padding: 0;
        z-index: 10;
        border: $border-thickness dashed $color;
    }

    &:hover {
        box-shadow: 0 0 0 0 rgba($color, 0);

        &:after {
            @if ($rotate) { @include elr-spin; }
        }
    }
}
