// scss-lint:disable ImportantRule

@mixin elr-calendar-header($text-color, $secondary-color) {
    @include elr-em-font(32px);
    color: $darker-grey;
    font-weight: 700;
    border-bottom: 1px solid $secondary-color;
}

@mixin elr-calendar-table($border-radius, $main-color, $secondary-color, $text-color, $background-color, $holiday-color) {
    width: 100%;

    .button-solid-radius {
        @include elr-em-font(14px);
        width: 200px;
    }

    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
    }

    th,
    td {
        background-color: $background-color;
        padding: 10px;
        width: (100% / 7);
    }

    th {
        height: auto;
        text-align: center;
        color: $grey;
    }

    tr:first-child {
        td:first-child {
            border-radius: $border-radius 0 0;
        }

        td:last-child {
            border-radius: 0 $border-radius 0 0;
        }
    }

    tr:last-child {
        td { border-bottom: 1px solid $lighter-grey; }

        td:first-child {
            border-radius: 0 0 0 $border-radius;
        }

        td:last-child {
            border-radius: 0 0 $border-radius;
        }
    }

    td {
        @include elr-em-font(14px);
        border-top: 1px solid $lighter-grey;
        border-left: 1px solid $lighter-grey;
        color: $text-color;

        &:last-child {
            border-right: 1px solid $lighter-grey;
        }
    }

    td:hover {
        background-color: rgba($main-color, .7);
        color: $background-color;
        cursor: pointer;

        a,
        .elr-hour,
        .elr-time {
            color: $background-color;
        }
    }

    .elr-events {
        a,
        .elr-hour,
        .elr-time {
            color: $background-color;
        }
    }

    .elr-cal-today {
        background-color: $main-color !important;
        color: $background-color !important;
    }

    .elr-cal-weekend {
        background-color: $lightest-grey;
        color: $text-color;
    }

    .elr-cal-holiday {
        color: $holiday-color;
    }

    .elr-cal-muted {
        background-color: $lighter-grey;
        color: $background-color;

        &:hover {
            cursor: not-allowed;
            background-color: $lighter-grey;

            .elr-events a {
                color: $background-color;
            }
        }
    }
}

@mixin elr-events($text-color, $holiday-color) {
    @include elr-unstyled-list(left);
    line-height: 1.3;

    .elr-hour,
    .elr-time {
        @include elr-em-font(12px);
        color: $grey;
        font-weight: 700;
    }

    .elr-event {
        @include elr-em-font(12px);
    }

    .elr-all-day-event {
        padding: 0;
        margin: 0;
        text-align: center;
        border-bottom: 0;
    }

    li {
        padding: 0;
    }

    a {
        margin: 0;
        padding: 0;
        color: $text-color;
        display: block;

        &.elr-cal-holiday {
            color: $holiday-color;
        }
    }
}

@mixin elr-calendar-week-view($background-color) {
    margin: 20px 0;
    width: 100%;

    .elr-calendar-header {
        text-align: center;
    }

    th,
    td {
        background-color: $background-color;
        padding: 5px 10px;
        width: (100% / 8);
    }

    th {
        height: auto;
        text-align: center;
        color: $grey;
    }

    tbody {
        border: 1px solid $lighter-grey;
    }

    tr:first-child {
        td {
            border-top: 1px solid $lighter-grey;
        }
    }

    td {
        @include elr-em-font(14px);
        border-left: 1px solid $lighter-grey;
        border-bottom: 0;

        &:last-child {
            border-right: 1px solid $lighter-grey;
        }
    }

    .hour {
        @include elr-em-font(12px);
        color: $grey;
    }
}

@mixin elr-calendar-date-view($border-radius, $secondary-color) {
    margin: 20px auto;
    padding: 10px 20px;
    width: 80%;
    border: 1px solid $secondary-color;
    border-radius: $border-radius;

    .elr-calendar-header {
        text-align: center;
    }

    .elr-day {
        @include elr-unstyled-list(left);

        .hour,
        .time {
            @include elr-em-font(12px);
            color: $grey;
            font-weight: 700;
            display: block;
        }

        li {
            padding: 10px 5px 0;
            border-bottom: 1px solid $secondary-color;
        }
    }

    .elr-events {
        padding: 5px 0 5px 20px;
        font-weight: 500;

        .time {
            padding-right: 5px;
        }

        li {
            padding: 0;
            border-bottom: 0;
        }

        .elr-event {
            @include elr-em-font(14px);
        }
    }
}

@mixin elr-calendar-event-details($background-color) {
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $background-color;
    border: 1px solid $grey;
    top: 20px;
    width: 60%;
    left: 20%;
    position: absolute;

    @include elr-breakpoint('mercury') {
        width: 40%;
        left: 30%;
        top: 100px;
    }

    @include elr-breakpoint('venus') {
        width: 60%;
        left: 20%;
        top: 20px;
    }

    @include elr-breakpoint('neptune') {
        width: 80%;
        left: 10%;
        top: 20px;
    }

    .elr-calendar-header {
        text-align: center;
    }

    .elr-event-detail-list {
        @include elr-unstyled-list(left);

        li {
            padding: 10px 5px 0;
        }
    }
}

@mixin elr-calendar($border-radius: 3px, $main-color: $elr-blue, $secondary-color: $light-grey, $text-color: $dark-grey, $background-color: $white, $holiday-color: $success-color) {

    button { @include elr-em-margin('all', 10, 0); }

    .elr-calendar-header { @include elr-calendar-header($text-color, $secondary-color); }

    .elr-calendar-nav,
    .elr-calendar-view-nav {
        @include elr-button-group($main-color, $background-color, 3px, $main-color);
        margin: 10px 0;

        button { @include elr-em-font(14px); }
    }

    .elr-calendar-select { @include elr-inline-form; }

    .elr-calendar-new-event { @include elr-tabular-form; }

    .elr-calendar { @include elr-calendar-table($border-radius, $main-color, $secondary-color, $text-color, $background-color, $holiday-color); }

    .elr-events { @include elr-events($text-color, $holiday-color); }

    .elr-calendar-month-view {
        td {
            height: 100px;
        }
    }

    .elr-calendar-week-view { @include elr-calendar-week-view($background-color); }

    .elr-calendar-date-view { @include elr-calendar-date-view($border-radius, $secondary-color); }

    .elr-calendar-event-details { @include elr-calendar-event-details($background-color); }

    .elr-calendar-event-edit { @include elr-tabular-form; }
}
