// Styles for common data patterns

@mixin elr-contact-info() {
}

@mixin elr-address() {
    span {
        display: block;
    }

    .business-name {
        font-size: 120%;
        font-weight: $bold;
    }
}

@mixin elr-phone($icon: false) {

}

@mixin elr-email($icon: false) {

}
