// Headings

// makes a rounded heading

@mixin elr-rounded-heading($bk-color: $dark-grey, $text-color: $white, $border-radius: 3px) {
    @include elr-em-padding('all', 5px, 10px);
    background-color: $bk-color;
    color: $text-color;
    border-radius: $border-radius;
}

// makes a pill heading

@mixin elr-pill-heading($bk-color: $dark-grey, $text-color: $white, $height: 40px) {
    @include elr-em-height($height);
    @include elr-em-line-height($height);
    @include elr-em-padding('all', 0, 10px, 0, 20px);
    background-color: $bk-color;
    color: $text-color;
    border-radius: ($height / 2);
}
