// Forms
// scss-lint:disable QualifyingElement

@mixin elr-tabular-form($bk-color: $lightest-grey, $border: $grey, $button-color: $dark-grey) {
    @include elr-form($bk-color, $border);

    label,
    input,
    select {
        display: block;
    }

    [type="text"],
    [type="tel"],
    [type="email"],
    [type="password"],
    [type="url"],
    select {
        width: 100%;
    }

    label {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

    [type="submit"],
    button {
        @include elr-em-font(14px);
        @include elr-button;
        @include elr-button-solid($button-color, $white, 180px, null, 3px, $button-color, block);
        margin: 5px 5px 5px 0;
    }

    .elr-inline-control-group {
        margin-top: 5px;
    }
}

@mixin elr-inline-form($bk-color: $lightest-grey, $border: $grey, $button-color: $dark-grey) {
    @include elr-clearfix;
    @include elr-form($bk-color, $border);

    padding-left: 0;

    label {
        @include elr-em-font(14px);
        display: inline;
        vertical-align: middle;
    }

    [type="text"],
    [type="tel"],
    [type="email"],
    [type="password"],
    [type="url"],
    textarea {
        margin: 0 10px;
    }

    label,
    [type="text"],
    [type="tel"],
    [type="email"],
    [type="password"],
    [type="url"],
    textarea,
    [type="submit"],
    button {
        display: inline-block;
    }

    [type="submit"],
    button {
        @include elr-button;
        @include elr-button-solid($button-color, $white, 100px, null, 3px, $button-color, inline-block);
        @include elr-em-font(14px);
        margin: 0 5px 5px 0;
    }

    .elr-inline-control-group {
        height: 50px;
    }

    .elr-control-group {
        margin: 0 20px;
        display: inline-block;

        [type="checkbox"],
        [type="radio"] {
            margin-top: 14px;
        }
    }

    [type="submit"][disabled],
    button[disabled] {
        @include elr-button-solid(lighten($button-color, 50%), $white, 180px, null, 3px, lighten($button-color, 50%), inline-block);
        @include elr-em-font(14px);
        margin: 0 5px 5px 0;

        &:hover {
            cursor: not-allowed;
            background-color: lighten($button-color, 50%);
            color: $white;
            transition: none;
        }
    }
}
